


.card-my{
    border: 1px solid black;
    height: 160px;
    width: 290px; 
    /* margin: 1%; */

}

.card-my__name{
    padding-left: 7px;
    height: 28px;
    color: white;
    font-weight: bold;
}

.card-my__button-target{
    padding-left: 0px;
    padding-right: 0px;
    /* padding-top: -17px; */
    /* padding-bottom: 15px; */
    height: 28px;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.card-my__img-target{
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;

}